# Config
postcss.config.js
tailwind.config.js
vite.config.ts
commitlint.config.cjs

# Shadcn UI
/src/components/ui/*
/src/components/ui-custom/*

# Mock Service Worker
/public/mockServiceWorker.js