@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* https://www.figma.com/community/file/1284628698171304551/dashboard-dark-and-light-modes-color-variables */
  :root {
    --background: 0 0% 100%;
    --foreground: 235, 23%, 22%;

    --card: 0 0% 100%;
    --card-foreground: 235, 23%, 22%;

    --popover: 0 0% 100%;
    --popover-foreground: 235, 23%, 22%;

    --primary: 208.26 100% 33.73%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 52% 90.2%;
    --secondary-foreground: 205.71 100% 1.37%;

    --muted: 208.24 51.52% 93.53%;
    --muted-foreground: 0 0% 40%;

    --accent: 208.24 51.52% 93.53%;
    --accent-foreground: 235, 23%, 22%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 208.26 100% 33.73%;

    --radius: 0.5rem;

    /* Custom */
    --dashboard: 210 21% 95%;
    --sidebar: 0 0% 100%;
    --sidebar-item: 210, 44%, 94%;
    --sidebar-foreground: 235, 23%, 22%;
    --navibar: 0 0% 100%;
  }

  .dark {
    --background: 220, 15%, 12%;
    --foreground: 210 40% 98%;

    --card: 220, 15%, 12%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;

    /* Custom */
    --dashboard: 210, 13%, 6%;
    --sidebar: 220, 15%, 12%;
    --sidebar-item: 219, 15%, 18%;
    --sidebar-foreground: 0 0% 100%;
    --navibar: 220, 15%, 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
